In [16]:
import pandas as pd

In [47]:
import glob
public_csv = glob.glob('./*AUSTIN/*_person*')

In [67]:
df = pd.DataFrame()
for i in public_csv:
    j = i[2:]
    #print(j) #to check
    k = (pd.read_csv(j))
    df = df.append(k)

20100101-20101231_AUSTIN\extract_public_2010_20190912084151_person_20100101-20101231_AUSTIN.csv
20110101-20111231_AUSTIN\extract_public_2010_20190912084229_person_20110101-20111231_AUSTIN.csv
20120101-20121231_AUSTIN\extract_public_2010_20190912084258_person_20120101-20121231_AUSTIN.csv
20130101-20131231_AUSTIN\extract_public_2010_20190912084344_person_20130101-20131231_AUSTIN.csv
20140101-20141231_AUSTIN\extract_public_2010_20190912084419_person_20140101-20141231_AUSTIN.csv
20150101-20151231_AUSTIN\extract_public_2015_20190912084445_person_20150101-20151231_AUSTIN.csv
20160101-20161231_AUSTIN\extract_public_2015_20190912084510_person_20160101-20161231_AUSTIN.csv
20170101-20171231_AUSTIN\extract_public_2015_20190912084536_person_20170101-20171231_AUSTIN.csv
20180101-20181231_AUSTIN\extract_public_2018_20190912084602_person_20180101-20181231_AUSTIN.csv
20190101-20190911_AUSTIN\extract_public_2018_20190912084628_person_20190101-20190911_AUSTIN.csv

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109548 entries, 0 to 7258
Data columns (total 27 columns):
Crash_ID                 109548 non-null int64
Unit_Nbr                 109548 non-null int64
Prsn_Nbr                 109548 non-null int64
Prsn_Type_ID             109548 non-null int64
Prsn_Occpnt_Pos_ID       109507 non-null float64
Prsn_Injry_Sev_ID        109234 non-null float64
Prsn_Age                 97838 non-null float64
Prsn_Ethnicity_ID        105973 non-null float64
Prsn_Gndr_ID             109166 non-null float64
Prsn_Ejct_ID             109548 non-null int64
Prsn_Rest_ID             109098 non-null float64
Prsn_Airbag_ID           109012 non-null float64
Prsn_Helmet_ID           109548 non-null int64
Prsn_Sol_Fl              109115 non-null object
Prsn_Alc_Spec_Type_ID    0 non-null float64
Prsn_Alc_Rslt_ID         0 non-null float64
Prsn_Bac_Test_Rslt       0 non-null float64
Prsn_Drg_Spec_Type_ID    0 non-null float64
Prsn_Drg_Rslt_ID         0 non-null float64
Prsn_Death_Time          100 non-null object
Sus_Serious_Injry_Cnt    109548 non-null int64
Nonincap_Injry_Cnt       109548 non-null int64
Poss_Injry_Cnt           109548 non-null int64
Non_Injry_Cnt            109548 non-null int64
Unkn_Injry_Cnt           109548 non-null int64
Tot_Injry_Cnt            109548 non-null int64
Death_Cnt                109548 non-null int64
dtypes: float64(12), int64(13), object(2)
memory usage: 23.4+ MB

In [6]:
pd.read_csv('20100101-20101231_AUSTIN/extract_public_2010_20190912084151_person_20100101-20101231_AUSTIN.csv')

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,Prsn_Drg_Spec_Type_ID,Prsn_Drg_Rslt_ID,Prsn_Death_Time,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,11152580,3,2,2,3,3.0,21.0,2.0,2.0,1,...,NaN,NaN,NaN,0,0,1,0,0,1,0
1,11153849,1,2,2,3,5.0,NaN,2.0,2.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
2,11153849,1,3,2,4,5.0,NaN,2.0,2.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
3,11153849,1,4,2,6,5.0,NaN,2.0,2.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
4,11153849,2,2,2,3,3.0,NaN,2.0,2.0,1,...,NaN,NaN,NaN,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,13674277,1,2,2,3,5.0,21.0,1.0,1.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
10845,13674277,2,2,6,4,2.0,25.0,1.0,2.0,4,...,NaN,NaN,NaN,0,1,0,0,0,1,0
10846,13976283,2,2,2,2,5.0,14.0,2.0,2.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
10847,13976283,2,3,2,3,5.0,11.0,2.0,1.0,1,...,NaN,NaN,NaN,0,0,0,1,0,0,0
10848,15222283,1,2,6,4,4.0,36.0,2.0,2.0,4,...,NaN,NaN,01:52:00,0,0,0,0,0,0,1