In [1]:
import numpy as np
import pandas as pd

In [2]:
crash = pd.read_csv('crash_clean.csv')

In [3]:
crash.head()

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Obj_Struck_ID,Latitude,Longitude,Street_Name,Street_Nbr,Street_Name_2,Crash_Sev_ID,Day_of_Week,Tot_Injry_Cnt,Death_Cnt
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,64,30.376001,-97.673639,E BRAKER LN,867.0,NaN,3,FRI,2,0
1,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,29,30.307715,-97.726472,E 45TH ST,300.0,UNKNOWN,3,FRI,1,0
2,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,64,30.265225,-97.740032,E 4TH ST,398.0,TRINITY ST,3,WED,1,0
3,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,64,30.300115,-97.732672,E 38TH ST,200.0,UNKNOWN,3,WED,1,0
4,4,11154059,N,01/12/2010,04:51 PM,1,35,N,55,N,...,64,30.292341,-97.721250,IH0035,NaN,NaN,5,TUE,0,0

In [4]:
p_person = pd.read_csv('primary_person_clean.csv')

In [5]:
p_person.head(10)

,Unnamed: 0,Crash_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,1.0,3.0,24.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,1,11152580,1.0,5.0,60.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,2,11152580,1.0,5.0,23.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,3,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,4,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
5,5,11154056,16.0,3.0,45.0,1.0,1.0,4.0,11.0,1.0,97.0,4.0,NaN,NaN,97.0,97.0
6,6,11154056,1.0,5.0,22.0,1.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
7,7,11154058,1.0,5.0,34.0,2.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
8,8,11154058,1.0,3.0,25.0,1.0,2.0,1.0,1.0,0.0,97.0,4.0,NaN,NaN,97.0,97.0
9,9,11154058,1.0,5.0,49.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [6]:
merged = crash.merge(p_person, left_on='Crash_ID', right_on='Crash_ID')

In [7]:
merged.head(10)

,Unnamed: 0_x,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
5,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,1.0,4.0,11.0,1.0,97.0,4.0,NaN,NaN,97.0,97.0
6,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
7,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
8,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,0.0,97.0,4.0,NaN,NaN,97.0,97.0
9,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [8]:
merged.to_csv('drunk_driving.csv')

In [9]:
merged.columns

Index(['Unnamed: 0_x', 'Crash_ID', 'Crash_Fatal_Fl', 'Crash_Date',
       'Crash_Time', 'Rpt_Rdwy_Sys_ID', 'Rpt_Hwy_Num', 'Private_Dr_Fl',
       'Crash_Speed_Limit', 'At_Intrsct_Fl', 'Wthr_Cond_ID', 'Light_Cond_ID',
       'Traffic_Cntl_ID', 'Investigat_Notify_Time', 'Obj_Struck_ID',
       'Latitude', 'Longitude', 'Street_Name', 'Street_Nbr', 'Street_Name_2',
       'Crash_Sev_ID', 'Day_of_Week', 'Tot_Injry_Cnt', 'Death_Cnt',
       'Unnamed: 0_y', 'Prsn_Occpnt_Pos_ID', 'Prsn_Injry_Sev_ID', 'Prsn_Age',
       'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID', 'Prsn_Ejct_ID', 'Prsn_Rest_ID',
       'Prsn_Airbag_ID', 'Prsn_Helmet_ID', 'Prsn_Alc_Spec_Type_ID',
       'Prsn_Alc_Rslt_ID', 'Prsn_Bac_Test_Rslt', 'Prsn_Drg_Rslt_ID',
       'Drvr_Drg_Cat_1_ID'],
      dtype='object')

In [66]:
sum(df['Prsn_Alc_Rslt_ID'].notna())

4679

In [65]:
sum(df['Prsn_Alc_Rslt_ID'].notna())/len(df['Prsn_Alc_Rslt_ID'])

0.016332728288187656